<header>
<nav>
    <a href="{{ url_for('home') }}"><h1 id="logo">LOGO</h1></a>
    <ul>
        <li><a href="{{ url_for('home') }}">Home </a></li>
        <li><a href="{{ url_for('upload') }}">Upload </a></li>
        <li><a href="{{ url_for('community') }}">Community </a></li>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
         {% else %}
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>  
        {% if current_user.is_authenticated %}
        <div class="profile" style="display: flex; align-items: center; padding-inline: 10px; border-radius: 5px; gap: 1rem;">
        <a class="bell" style="margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
          </svg><div class="dot"></div></a>
        <div class="pfp"><img src="https://i.ytimg.com/vi/I8DxShZV9aU/maxresdefault.jpg"></div>
        <h1 id="greeting">Hello {{ current_user.username }}!</h1>
        </div>
         {% else %}
        <h1 id="greeting">Hello User!</h1>
        {% endif %}
</nav>
</header>